* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-size: 40% 70%, 20% 30%;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    color: grey;
    background-color: hsl(240, 78%, 98%);
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.cards {
    background-color: aliceblue;
}

.dollar {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 15px;
}

header {
    color: hsl(233, 13%, 49%);
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle {
    margin-top: 2rem;
    align-items: center;
    color: hsl(234, 14%, 74%);
    display: flex;
}

.toggle-btn {
    margin: 0 1rem;
}


/* switch */
.checkbox {
    display: none;
}

.sub {
    background: linear-gradient(135deg,
            rgba(163, 168, 240, 1)0%,
            rgba(105, 111, 221, 1)100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.checkbox:checked+.sub {
    justify-content: flex-end;
}

/* card */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.cards .card.active {
    background: linear-gradient(135deg,
            rgba(163, 168, 240, 1)0%,
            rgba(105, 111, 221, 1)100%);
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

ul {
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

ul li.price {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
}

.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3.rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(135deg, rgba(163, 168, 240, 10%), rgba(105, 111, 221, 1)100%);
    color: #ffff;
    outline: none;
    border: 0;
    font-weight: bold;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Components</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
  </head>
  <body>
    <header>
      <h1>Our Pricing</h1>
      <div class="toggle">
        <label>Annually</label>
        <div class="toggle-btn">
          <input type="checkbox" id="checkbox" class="checkbox" />
          <label for="checkbox" class="sub" id="sub">
            <div class="circle"></div>
          </label>
          <!-- <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label> -->
        </div>
        <label> Monthly</label>
      </div>
    </header>

    <!-- cards -->
    <div class="cards">
      <div class="card shadow">
        <ul>
          <li class="pack">Basic</li>
          <li id="basic" class="price bottom-bar">
            <p class="dollar">&dollar;</p>
            199.99
          </li>
          <hr />
          <li class="bottom-bar">5600 GB Storage</li>
          <hr />
          <li class="bottom-bar">2 Users Allowed</li>
          <hr />
          <li class="bottom-bar">Send up to 3 GB</li>
          <hr />
          <li>
            <button class="btn activ-btn ">Learn More</button>
          </li>
        </ul>
      </div>

      <div class="card active">
        <ul>
          <li class="pack">Professional</li>
          <li id="basic" class="price bottom-bar">
            <p class="dollar">&dollar;</p>
            249.99
          </li>
          <li class="bottom-bar">1 TB Storage</li>
          <li class="bottom-bar">5 Users Allowed</li>
          <li class="bottom-bar">Send up to 10 GB</li>
          <li>
            <button class="btn active-btn ">Learn More</button>
          </li>
        </ul>
      </div>

      <div class="card shadow">
        <ul>
          <li class="pack">Master</li>
          <li id="basic" class="price bottom-bar">
            <p class="dollar">&dollar;</p>
            399.99
          </li>
          <li class="bottom-bar">2 TB Storage</li>
          <li class="bottom-bar">10 Users Allowed</li>
          <li class="bottom-bar">Send up to 20 GB</li>
          <li>
            <button class="btn activ-btn ">Learn More</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>

.active-btn {
    background: #fff;
    color: hsl(237, 64%, 64%);
}


.bottom-bar {
    border-bottom: 1px solid hsl(240, 8%, 85%, 0.583);
}

.card.active .bottom-bar {
    border-bottom: 2px solid hsl(240, 8%, 85%, 0.253);
}

.pack {
    font-size: 1.1rem;
}