.body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
*{
    font-family: "Montserrat";
}

.container {
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-size: 25%, 20%;
    padding-bottom: 4.3rem;
    font-weight: 600;
    color: hsl(232, 13%, 33%);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    
}

/* switch */

.plan-switch {
    margin: 4rem 3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin: 0 1rem;
}

.slider {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 22px;
}

.switch input {
    display: none;
}

.slider:hover {
    background: hsl(236, 66%, 84%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 8%;
    bottom: 9%;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(100%);
}

.plan {
    font-family: "Montserrat";
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    color: hsl(236, 72%, 79%);
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.plans {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 61.5em;
}

.plan1,
.plan2,
.plan3 {
    flex: 1;
    height: 27rem;
    background-color: white;
    padding: 0.2% 2.5% 8% 2.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 3.4% 2.5% 1.5% 2.5%;
}


.dollar {
    font-size: 2rem;
}

.price {
    font-size: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan1 .plan-name,
.plan3 .plan-name,
p {
    font-size: 0.9rem;
    color: hsl(233, 13%, 49%);
    font-family: "Montserrat";
}
hr{
    width: 80%;
    transform: translate(10%,100%);  
}

.plan2>p,
.plan2>.price {
    color: #fff;

}

button {
    border: 1px solid hsl(236, 72%, 79%);
    border-radius: 5px;
    margin: 15px 5px;
    width: 80%;
    height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: o.8rem;
    cursor: pointer;
}

.side-btn{
    /* background-color: hsl(236, 72%, 65%);    */
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}

.middle-btn {
    background-color: #fff;
    color: hsl(232, 13%, 33%);
    font-size: 0.9rem;
    font-weight: bold;
   
}


.plan-name {
    font-style: 12px;
    margin: 0 0 25px 0;
    color: #fff;
}


h1 {
    margin-top: 1em;
    font-size: 1.8rem;
    color: hsl(233, 13%, 49%);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.95em 0;
    padding: 0;
}

.plan2 {
    transform: scale(1.1);
    /* background-color: hsl(237, 63%, 64%); */
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}


@media (max-width: 375px) {
    .plans {
        flex-direction: column;
    }
}
